<a href="https://colab.research.google.com/github/danubiagedro/faculdade/blob/aulas/praticaaula02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRÁTICA- AULA 02:

-ESCREVA AS SEGUINTES EXPRESSÕES ALGÉBRICAS EM LINGUAGEM PYTHON:

- O somatório dos 5 primeiros números inteiros e positivos:

In [ ]:
soma = int(1+2+3+4+5)
resp = ('A soma dos cinco primeiros números inteiros é: {}'.format(soma))
print(resp)

A soma dos cinco primeiros números inteiros é: 15

- A média entre 23, 19 e 31

In [ ]:
soma = int((23+19+31)/3)
resp = ('A média entre os números 23, 19 e 31 é: {}'.format(soma))
print(resp)

A média entre os números 23, 19 e 31 é: 24

- O número de vezes em que 73 cabe em 403

In [ ]:
soma = int(403//73)
resp = ('O número de vezes em que 73 cabe em 403 é: {}.'.format(soma))
print(resp)

O número de vezes em que 73 cabe em 403 é: 5.

- A sobra quando 403 é dividido por 73

In [ ]:
soma = int(403 % 73)
resp = ('A sobra quando 403 é dividido por 73 é: {}.'.format(soma))
print(resp)

A sobra quando 403 é dividido por 73 é: 38.

  - 2 elevado à 10ª potência:

In [ ]:
soma = int(2**10)
resp = ('O resultado da potenciação é: {}.'.format(soma))
print(soma)

1024

- O valor absoluto da diferença entre 54 e 57

In [ ]:
soma = (54-57)
print('O valor absoluto é:', abs(soma))

O valor absoluto é: 3

- O menor valor entre 34, 29 e 31

In [5]:
cal = min(34, 29, 31)
print('O menor valor é: {}'.format(soma))

O menor valor é: 29

In [6]:
x = 34
y = 29
z = 31
cal = min(34, 29, 31)
print('O menor valor entre {}, {} e {} é: {}'. format(x, y, z, cal))

O menor valor entre 34, 29 e 31 é: 29

# Atribuição

-ESCREVA AS EXPRESSÕES EM PYTHON PARA:

- Atribuir o valor inteiro 3 à variável *a*

In [7]:
a = 3
print(a)

3

- Atribuir o valor 4 à variável *b*

In [8]:
b = 4
print(b)

4

ATENÇÃO:
- UM SINAL DE = SIGNIFICA "ATRIBUIÇÃO", JÁ DOIS == COMPARAÇÃO LÓGICA DE IGUALDADE.